<template>
  <div class="TodoComp">
    <v-card
      max-width="475"
      class="mx-auto"
    >
      <v-text-field
        v-model="newTaskTitle"
        @click:append="addTask"
        @keyup.enter="addTask"
        class="pa-3"
        outlined
        label="New Task"
        append-icon="mdi-plus"
        hide-details
        clearable
      ></v-text-field>
      <v-list
        flat
      >
      <div
        v-for="task in tasks"
         :key="task.id"
      >
          <v-list-item
             @click="doneTask(task.id)"
             :class="{ 'blue lighten-5' : task.done }"
          >
            <template v-slot:default>
              <v-list-item-action>
                <v-checkbox
                  :input-value="task.done"
                  color="primary"
                ></v-checkbox>
              </v-list-item-action>

              <v-list-item-content>
                <v-list-item-title
                :class="{ 'text-decoration-line-through' : task.done }"
                >
                  {{task.title}}
                </v-list-item-title>
                <v-list-item-subtitle></v-list-item-subtitle>
              </v-list-item-content>
              <v-list-item-action>
                <v-btn icon>
                  <v-icon
                    @click.stop="deleteTask(task.id)"
                    color="red lighten-1"
                  >mdi-delete</v-icon>
                </v-btn>
              </v-list-item-action>
            </template>
          </v-list-item>
          <v-divider></v-divider>
        </div>
      </v-list>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'TodoComp',

  data: () => {
    return {
      newTaskTitle: '',
      tasks: [
        { id: 1, title: 'Wake up', done: false },
        { id: 2, title: 'Learn english', done: false },
        { id: 3, title: 'Go to the bank', done: false },
        { id: 4, title: 'Take a shower', done: false }
      ]
    }
  },
  methods: {
    doneTask (id) {
      const task = this.tasks.filter(task => task.id === id)[0]
      task.done = !task.done
    },
    deleteTask (id) {
      this.tasks = this.tasks.filter(task => task.id !== id)
    },
    addTask () {
      const newTask = {
        id: Date.now(),
        title: this.newTaskTitle,
        done: false
      }
      this.tasks.push(newTask)
      this.newTaskTitle = ' '
    }
  }
}
</script>
